__pycache__/
venv/
log/
seed.txt
*.out
test_sim.csv
VAE_encoders
gym_quad/gym_quad/tests/test_img/depth_maps/
**/data/*
*.out
test_sim.csv
**/models/*
*.zip
**/results/*
**/figures/*
tests/test_img
plotting/replotting_results/follow_quad_imgs/
plotting/replotting_results/depth_and_flight/
helix_pov_and_flight.gif